@model List<PlantopiaForum.Models.Discussion>
@{
    ViewData["Title"] = "PlantopiaForum - A hub for plant enthusiasts to connect, share, and grow together.";
}



<h1 class="fw-bold text-center my-4" style="color: darkgreen"> Welcome to Plantopia Forum</h1>

<div class="text-center fs-6 mb-4">
    <p>
        "PlantopiaForum is a thriving digital space where plant lovers from all walks of life can come together to celebrate their passion for greenery. Whether you're a seasoned gardener, a budding plant enthusiast, or simply someone who enjoys the beauty of plants, this is the perfect place to connect, share, and learn.

        Our community is built on the joy of nurturing plants, swapping tips and tricks, and showing off your green thumb with fellow plant lovers."</p>
</div>

<div class="container">
    <div class="row g-4">
        @foreach (var item in Model)
        {
            string imageUrl = Url.Content("/images/" + item.ImageFilename);

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    @if (!string.IsNullOrEmpty(item.ImageFilename))
                    {
                        <a href="@Url.Action("Details", "Discussions", new { id = item.DiscussionId })">
                            <!-- Set fixed height for images -->
                            <img src="@imageUrl" class="card-img-top" alt="@item.Content" style="height: 250px; object-fit: cover;" />
                        </a>
                    }

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title mb-2" style="color:darkorchid;">@item.Title</h5>
                        <p class="card-text flex-grow-1" style="font-size: 0.875rem;">@item.Content</p>
                        <p class="card-text text-muted mb-2" style="font-size: 0.65rem;color:cadetblue;">Posted on @item.CreatedAt.ToString("MMMM dd, yyyy")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>